<mat-toolbar class="app-navbar" color="primary">
    <div class="left">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">

            <button mat-button mat-ripple routerLink="/">
                <span>Home</span>
            </button>

            <button *ngIf="hasSignedIn() && !isUserAdmin()" mat-button mat-ripple routerLink="/bmi">
                <span>Claculate BMI</span>
            </button>

            <button *ngIf="hasSignedIn() && !isUserAdmin()" mat-button mat-ripple routerLink="/krvni-pritisak">
                <span>Claculate Krvni Pritisak</span>
            </button>

            <button *ngIf="hasSignedIn() && !isUserAdmin()" mat-button mat-ripple routerLink="/sport-query">
                <span>Choose Sport</span>
            </button>

        </div>
    </div>




    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">

            <!-- <i class="fas fa-bell"></i> -->

            <app-notifications *ngIf="!hasSignedIn()"></app-notifications>

            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/login">
                <span>Login</span>
            </button>

            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/register">
                <span>Register</span>
            </button>

            <button *ngIf="hasSignedIn()" mat-button mat-ripple (click)="logout()" routerLink="/">
                <span>Logout</span>
            </button>

<!-- 
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-button" mat-button mat-ripple>
                <span>Hello, {{userName()}}</span>
            </button>
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-hamburger" mat-icon-button
                mat-ripple>
                <mat-icon>menu</mat-icon>
            </button> -->
        </div>
    </div>
</mat-toolbar>