<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>Calculate BMI</h2>
    </mat-card-title>

    <mat-card-content id="form-content">
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form" id="form1-content">

            <mat-form-field>
                <label>Tezina(kg): </label>
                <input formControlName="tezina" matInput type="number" id="tezina" name="tezina" min="20" max="300">
            </mat-form-field>

            <mat-form-field>
                <label>Visina(cm): </label>
                <input formControlName="visina" matInput type="number" id="visina" name="visina" min="20" max="300">
            </mat-form-field>

            <mat-form-field>
                <label>Godine: </label>
                <input formControlName="godine" matInput type="number" id="godine" name="godine" min="1" max="120">
            </mat-form-field>

            <!-- <mat-form-field>
                <label>Role</label>
                <mat-select formControlName="role">
                    <mat-option *ngFor="let role1 of roles" [value]="role1">
                        {{role1}}
                    </mat-option>
                </mat-select>
            </mat-form-field> -->
            

            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Submit</button>
            <br>
            <button color="primary" mat-raised-button (click) = "this.router.navigate(['/'])" >Go Back</button>
        </form>
        
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
</mat-card>